body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

main .container {
    background-color: #F7F7F7;
}

.external a {
    color: #2C5EAD;
}

.external a:hover {
    color: #232F72;
}