body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ELSH" 0;
}

main {
    flex: 1;
}

section#main-content {
    background-color: #F9F9F9;
    min-height: 80vh;
}

.external a {
    color: #2C5EAD;
}

.external a:hover {
    color: #232F72;
}